		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/articles">News Scraper</a></h1>
							<span class="tag">UCF Coding Bootcamp</span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
								<li><a href="/articlesJSON/" target="_blank">Articles JSON</a></li>
								<li><a href="/deleteAll">Remove All Articles</a></li>
								{{!-- <li><a href="no-sidebar.html">No Sidebar</a></li> --}}
							</ul>
						</nav>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							{{!-- <p>This is <strong>Phase Shift</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p> --}}
							<a href="#" class="button scrape-button">NY Times</a>
							<div>
								<p class="loading-msg">Loading&#8230;</p>
							</div>
							{{!-- Todo : Implement other sources --}}
							{{!-- <a href="#" class="button">WA. Post</a> --}}
							{{!-- <a href="#" class="button">Orlando Sentinel</a> --}}
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div id="article-container" class="container">

							{{!-- {{log  this.articles}} --}}
							
							<div class="row no-collapse-1">
								{{#each this.articles}}
								  {{insertNewRow @index}}
										<section class="4u"> 
											{{#if this.imgURL}}
											<a href="https://nytimes.com/{{this.link}}" class="image featured"><img src="{{this.imgURL}}" alt="Image for article : {{this.title}}"></a>
											{{/if}}
											<div class="box">
												<p><strong>{{this.title}}</strong></p>
												{{#if this.summary}}
												<p>{{this.summary}}</p>
												{{/if}}
												<a href="https://nytimes.com/{{this.link}}" class="button">Read More</a> 
												{{#if this.notes}}
												    <br><br><a class="comment-link" href="#" data-id="{{this._id}}" data-title="{{this.title}}">View Comments</a>
												  {{else}}
												    <br><br><a class="comment-link" href="#" data-id="{{this._id}}" data-title="{{this.title}}">Be first to add a comment.</a>
												 {{/if}}

											</div>
										</section>
								{{/each}}
							</div>

						</div>
					</div>

					<!-- Modal --> 
					<div id="dialog-form" title="Comments">
					  <br>
					  <div id="commentsTable">
					  </div>
						
						<form id="modalForm">
							<fieldset>
								<label for="commentTitle">Your Name</label>
								<input id="commentTitle" class="text ui-widget-content ui-corner-all"></input>
								<label for="commentTextArea">Comments</label>
								<textarea id="commentTextArea" class="text ui-widget-content ui-corner-all"></textarea>
						
								<!-- Allow form submission with keyboard without duplicating the dialog button -->
								<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
							</fieldset>
						</form>
					</div>


			
	</div>


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
					<ul class="icons">
						<li><a href="#" class="fab fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fab fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fab fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

    <script src="app.js"></script>